---
import { Image } from 'astro:assets';
import profileImg from '../images/profile.jpeg'
---

<header class="flex justify-center px-6 h-20 md:h-40">
	<nav class="md:max-w-3xl w-full">
		<div class="flex items-center	gap-x-4">
      <a href="/" class="inline-block">
        <Image class="w-12 h-12 rounded-full" src={profileImg} alt="A self portrait." />
      </a>
      <div class="gap-x-2 flex">
        <a href="/blog">blog</a>
        <a href="/about">about</a>
        <a href="/links">links</a>
      </div>
		</div>
	</nav>
</header>
<style>
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		/* padding: 1em 0.5em; */
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
