---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'main'>;
---

<main {...Astro.props} class="flex justify-center py-12 px-4">
  <div class="md:max-w-3xl w-full">
    <slot />
  </div>
</main>
